<div class="navbar-right">
<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li><%= link_to image_tag(current_user.avatar), user_path(current_user.id), class: "grav" %></li>
    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path, class: "sign-in" %></li>
    <li><%= link_to "Sign up", new_user_registration_path, class: "sign-up" %></li>
  <% end %>
    <li><%= link_to "Meet the Team", controller: "/home", action: "team" %></li>
</ul>
</div>